<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @offer.decription %>
</p>

<p>
  <strong>License:</strong>
  <%= @offer.license.license_key %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
